* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

.nav-bar {
  display:flex; 
  background-color: #343435;
  justify-content: space-between; 
  box-sizing: border-box;
  padding: 1rem 2vw; 
}

.logo-and-name {
  display:flex; 
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex; 
  align-items: center;
}


.nav-item {
  background-color: aliceblue;

}